*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader{
    background:#FCFEFC url(loader.gif) no-repeat center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: fixed;
}
header{
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    position: relative;
    cursor: pointer;
    font-size: 30px;
}
.logo::before,h1::before{
    content: "";
    position: absolute;
    top: 0;
    right:0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    animation: show 1s ease forwards;
    animation-delay: 4s;
    -webkit-animation: show 2s ease forwards;
}
h1::before{
    background-color: #F7F9FC;
}
.list ul{
    display: flex;
}
li{
    margin-left: 20px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #3e4851;
    font-size: 22px;
}
ul li a:hover{
    color: #282b85;
}
main{
    background-color: #F7F9FC;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.s-text{
    color: #ffaf40;
    font-weight: bold;

}
h1{
    color: #282B8F;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
    width: 400px;
    position: relative;
}
button{
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.btn1{
    background-color: #3B82F6;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn2{
    background-color: transparent;
    padding: 10px 8px;
    border: 2px solid #2563EB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn1:hover{
    /* color: black; */
    background:#2563EB;
}
.btn2:hover{
    color: #2563EB;
}
.pic{
    width: 450px;
    height: 400px;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    flex-wrap: wrap;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 10px 10px 10px #95afc0;
}
footer{
    background-color: #47879e;
    color: white;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.text,.text a{
    font-size: 16px;
}
/* key frame Animation */
@keyframes show {
    100%{
        width: 0;
    }
}

/* company */
.about{
    padding: 30px 0px;
}
h3{
    color: #1B1464;
    text-align: center;
    font-size: 30px;
}
.company{
    display: flex;
    justify-content: center;
}
.company li{
    width: 130px;
    height: 130px;
    /* background-size: cover; */
    margin: 20px 20px;
}
.company li img{
    /* background-color: #ffaf40; */
    width: 130px;
    height: 100%;
    background-size: cover;
}

/* feature */
.feature{
    /* background-color: #ffaf40; */
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.font{
    font-size: 50px;
    margin-bottom: 50px;
}
.feature li {
    width: 300px;
    background-color: #d2e0ea;
    padding: 10px;
}
.feature li:hover {
    background-color: #b8cfde;
}
.feature li p{
    font-size: 20px;
    margin: 20px 0px;
}
h4{
    font-size: 25px;
    color: #282B8F;
}
.time{
    background-color: #ffaf40;
}
.free{
    background-color: chartreuse;
}
/* use media Query */
@media only screen and (max-width: 1043px) {
    h1{
        font-size: 35px;
    }
    .pic{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 320px;
        height: 320px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    button{
        display: block;
        font-size: 20px;
        margin-top: 20px;
    }
    .btn1{
        padding: 10px 28px;
    }
    .btn2{
        padding: 10px 16px;
    }
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 30px;
    }
    .logo{
        font-size: 20px;
    }
    a{
        font-size: 18px;
    }
    button{
        display: block;
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
    }
    .btn1{
        padding: 10px 28px;
    }
    .btn2{
        padding: 10px 16px;
    }
    .pic{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 280px;
        height: 280px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .text,.text a{
        font-size: 12px;
    }
} 
